Package: tar
Version: 1.30+dfsg-3
Architecture: amd64
Essential: yes
Maintainer: Bdale Garbee <bdale@gag.com>
Installed-Size: 3374
Pre-Depends: libacl1 (>= 2.2.51-8), libc6 (>= 2.17), libgcc1 (>= 1:3.0), libselinux1 (>= 1.32)
Suggests: bzip2, ncompress, xz-utils, tar-scripts, tar-doc
Conflicts: cpio (<= 2.4.2-38)
Breaks: dpkg-dev (<< 1.14.26)
Replaces: cpio (<< 2.4.2-39)
Section: utils
Priority: required
Multi-Arch: foreign
Description: GNU version of the tar archiving utility
 Tar is a program for packaging a set of files as a single archive in tar
 format.  The function it performs is conceptually similar to cpio, and to
 things like PKZIP in the DOS world.  It is heavily used by the Debian package
 management system, and is useful for performing system backups and exchanging
 sets of files with others.
