Package: tar-scripts
Source: tar
Version: 1.30+dfsg-3
Architecture: amd64
Maintainer: Bdale Garbee <bdale@gag.com>
Installed-Size: 195
Depends: tar (>= 1.26+dfsg-9)
Conflicts: dump, openafs-client, tar (<< 1.26+dfsg-9)
Section: utils
Priority: optional
Multi-Arch: foreign
Description: optional scripts for GNU version of the tar archiving utility
 This package provides the backup, restore, backup.sh, and dump-remind
 scripts that are mentioned in the tar documentation.
